node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
src/.env
google-services.json
app.local.json
.env
.idea/vcs.xml
.idea/RandomRecipeBuddy.iml
.idea/modules.xml
.idea/misc.xml
